<div class='text-center'>
  <h1 class='text-center'>Twitter Clone Dashboard</h1>
  <%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-primary' %>
  <hr />

  <% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= tweet.user.email %></h3>
  </div>
  <div class="panel-body">
    <%= tweet.body %>
    </div>
    <%= time_ago_in_words(tweet.created_at) %>  
  </div>
    <% end %>
  <% else %>
   <h3>No Tweets yet, Tweet it out</h3>
<% end %>
</div>


<%= will_paginate @tweets, renderer: BootstrapPagination::Rails %>